<a href="https://colab.research.google.com/github/Shreyxs23/spam-email-detection/blob/main/emailspamdetection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

E-mail spam detector with python

In [ ]:
import pandas as pd
!pip install numpy scipy scikit-learn
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import svm

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (1.22.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (1.7.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn) (1.2.0)

**Accessing the data from the dataset**

In [ ]:
spam=pd.read_csv("spam.csv")

**Reading the first rows of the dataset**

In [ ]:
spam.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [ ]:
spam.describe()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5169,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""","MK17 92H. 450Ppw 16""","GNT:-)"""
freq,4825,30,3,2,2

**Spliiting the data into training data and the test data**

In [ ]:
x=spam["v1"]
y=spam["v2"]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [ ]:
x_train

2212     ham
4316     ham
3916     ham
4002     ham
490      ham
        ...
2739     ham
934     spam
3594     ham
3629    spam
4148     ham
Name: v1, Length: 4457, dtype: object

In [ ]:
x_test

3685    ham
372     ham
4706    ham
1108    ham
167     ham
       ...
586     ham
4866    ham
2545    ham
274     ham
642     ham
Name: v1, Length: 1115, dtype: object

In [ ]:
cv=CountVectorizer()
features=cv.fit_transform(x_train)

In [ ]:
model=svm.SVC()
model.fit(features,y_train)

SVC()

In [ ]:
features_test=cv.transform(x_test)
print(model.score(features_test,y_test))

0.0017937219730941704